<h1>About Us</h1>
<p>
  This is an application that facilitates playing the Masters Challenge. The Masters Challenge is an online, fantasy style game in which end-users select one golfer from 7 groups of golfers that consist of 5 options. Users additionally select one golfer that is not in the field of 35 from the first 7 groups. The person who picks the lowest score wins. Tiebreakers include picking the overal winning score.
</p>
<p>
  A golfer missing the cut will be given a score equal to that of the golfer that finishes worst off after 4 rounds, plus 2 additional strokes.
</p>