<% provide(:title, 'Home') %>
	<h1>Masters Challenge</h1>
	<p>
  		This is the home page for the Masters Challenge application.
	</p>

	<%= link_to "Sign up now!", signup_path, class: "signup_button round" %>