$full-width: 940px;
$background-color: #fff;
$link-color: #09c;
$hover-link-color: #45484D;
$banner-color: #339933;

.container {
  width: $full-width;
}

body {
  background: $background-color;
}

/*header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: white;
} */

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: white;
}

section h1 {
  font-size: 200%;
}

.green-gradient {
    background: $banner-color;
}

body #container > div, body #header > div, body #footer > div, body #notice {
    clear: both;
    margin: 0 auto;
    position: relative;
    width: $full-width;
}

/* Links */

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: $hover-link-color;
}

#header {
    border-bottom: 1px solid #E5E5E5;
    box-shadow: 0 0 20px #DDDDDD;
    height: 43px;
    margin-bottom: 20px;
    position: relative;
}

#header a {
  color: #000000;
  font-size: 125%;

  &:hover {
    color: $hover-link-color;
  } 
}

#header h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 0px 0;
    text-shadow: none;
}
#header h1 a {
    font-family: 'Lobster',cursive;
    font-weight: normal;
}

#header .logo {
    float: left;
}

#header nav {
    float: right;
    margin-top: 10px;
}
#header nav li {
    display: inline;
    list-style: none outside none;
}
#header nav li span, #header nav li a {
    font-weight: 600;
    padding: 0 8px;
}
#header nav li span {
    color: #BBBBBB;
}

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: white;
  background: #339933;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

#footer {
    clear: both;
    color: #999999;
    padding-top: 60px;
}
#footer > div {
    border-top: 1px solid #EEEEEE;
    padding: 30px 0;
}
#footer * {
    font-weight: normal;
}
#footer ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
#footer li {
    display: inline;
    list-style: none outside none;
    margin: 0 5px;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;

  img.gravatar {
    border: 1px solid #999;
    margin-bottom: -15px;
  }
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

table.front {
  width: 100%;
  margin-bottom: 0;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

table.available-title {
  width: 92%;
  margin-bottom: 0;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}


tr.title {
  padding: 1em;
}

/* Selections Table */
table.selections {
  width: 100%;
  margin-bottom: 0;
  white-space: nowrap;
}

table.selections tr th{
  text-align: center;
  border-bottom: 1px solid black;

}
table.selections tr td {
  text-align: center;
}

/* Available Table */
table.available {
  width: 92%;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

table.available tr th{
  text-align: center;
  border-bottom: 1px solid black;

}
table.available tr td {
  text-align: center;
  white-space: nowrap;
}
